version: "3.7"
services:
    webapp:
        build: ./Project
        ports:
            - 80:5000
        depends_on: 
            - db
    
    db:
        image: mysql
        ports:
            - 3306:3306
        environment:
            MYSQL_ROOT_PASSWORD: database7
        volumes:
            - ../database-migration/phpmyadmin/db:/docker-entrypoint-initdb.d/:ro