body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #fdfdfd;
}

.aboutDoc img{
    width: 70%;
    height: auto;
}

.rulesDoc img{
    width: 70%;
    height: auto;
}

#navbar {
    overflow: hidden;
    background-color: #fff;
    border-bottom: 0.5vh solid #2B427C;
}

#navbar a {
  text-decoration: none;
}

.surveylink {
    float: left;
    display: block;
    color:  #2B427C;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s all;
    padding: 25px;
  }

.surveylink:hover {
    background-color:  #2B427C;
    color: #fff;
  }

.loginlink {
    float: right;
    display: block;
    color:  #2B427C;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s all;
    padding: 25px;
  }

.loginlink:hover {
    background-color:  #2B427C;
    color: #fff;
  }

.logoutlink {
    float: right;
    display: block;
    color:  #2B427C;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s all;
    padding: 25px;
  }

.logoutlink:hover {
    background-color:  #2B427C;
    color: #fff;
  }

.registerlink {
    float: right;
    display: block;
    color:  #2B427C;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s all;
    padding: 25px;
  }

.registerlink:hover {
    background-color:  #2B427C;
    color: #fff;
  }

.registart-logo{
    float:left;
    padding-top: 5px;
    

}

.content {
    padding: 16px;
  }

.container{
  padding-top: 30px;
}

