body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #fdfdfd;
}

html {
	scroll-behavior: smooth;
}

.aboutDoc img{
    width: 70%;
    height: auto;
}

.rulesDoc img{
    width: 70%;
    height: auto;
}

.scriptDoc img{
    width: 70%;
    height: auto;
}

#navbar {
    overflow: hidden;
    background-color: #fff;
    border-bottom: 0.5vh solid #2B427C;
}

#navbar a {
  text-decoration: none;
}

.surveylink {
    float: right;
    display: block;
    color:  #2B427C;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s all;
    padding: 25px;
  }

.surveylink:hover {
    background-color:  #2B427C;
    color: #fff;
  }

.loginlink {
    float: right;
    display: block;
    color:  #2B427C;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s all;
    padding: 25px;
  }

.loginlink:hover {
    background-color:  #2B427C;
    color: #fff;
  }

.logoutlink {
    float: right;
    display: block;
    color:  #2B427C;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s all;
    padding: 25px;
  }

.logoutlink:hover {
    background-color:  #2B427C;
    color: #fff;
  }

.registerlink {
    float: right;
    display: block;
    color:  #2B427C;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s all;
    padding: 25px;
  }

.registerlink:hover {
    background-color:  #2B427C;
    color: #fff;
  }

.registart-logo{
    float:left;
    padding-top: 10px;
}

.content {
    padding: 16px;
  }

.container{
    padding-top: 30px;
}

.progress-bar {
  background-color:#2B427C;
}

#aboutHeader{
    color: rgb(102, 26, 16);
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    font-weight: bold;

}

#boldtext{
    font-weight: bold;
}

p{
  font-size: 15px;
}

#descheader{
    color: rgb(102, 26, 16);
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
}

#register-underline{
  font-weight: bold;
  text-decoration-line: underline;
}

#numberlist{
  float: left;
}

#boldquestion{
  font-weight: bold;
}

#explanation{
  color: rgb(133, 156, 156);
}

#boldresponse{
  font-weight: bold;
  font-size: 15px;
}

#boldprompt{
  font-weight: bold;
  font-size: 15px;
  float:left
}

#boldtip{
  font-weight: bold;
  float:left
}

.seniors{
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 5px;
  width: 150px;
}

#activityheader{
  font-weight: bold;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.btn-primary {
  background-color:#2B427C;
}