{% extends "base.html" %}

{% block app_content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <style>
        body {
            background-image: url('/static/landingdarken.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 1080px;
            position: relative;
        }   
    </style>
</head>

<body>
    <div class="text-center"> 
        <div id="bigtext" style="font-family: 'Montserrat';">
            Welcome to RegiStart
        </div>
        <a href="#info" class="btn btn-outline-light btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off" role="button" style="font-size: 40px;"> Get Started </a>
    </div>

    <h3 id="info" style="position: absolute; bottom: 0; text-align: center;">
        What exactly is Registart?
    </h3>
</body>
{% endblock %}