{% extends "base.html" %}

{% block app_content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <style>
        body {
            background-image: url('/static/coverphoto.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 1080px;
        }   
    </style>
</head>

<body>
    <div class="text-center"> 
        <a href="{{ url_for('register') }}" class="btn btn-success" role="button"> Create Account </a>
    </div>
</body>
{% endblock %}