{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Your Activities</h1>
    <h2>Type NNHS groups you are/were in. These can be:</h2>
    <h3>
        -School clubs/teams
        <br>
        -Friend groups
        <br>
        -Group projects
        <br>
    </h3>
    <form action="" method="post" class="form" role="form">
        {{ form.csrf_token() }}
    <d1>
        {{ wtf.form_field(form.activity1, style="width:500px") }}
        {{ wtf.form_field(form.activity2, style="width:500px") }}
        {{ wtf.form_field(form.activity3, style="width:500px") }}
        {{wtf.form_field(form.activity4, style="width:500px") }}
        {{ wtf.form_field(form.activity5, style="width:500px") }}
        {{ wtf.form_field(form.activity6, style="width:500px") }}
        {{ wtf.form_field(form.activity7, style="width:500px") }}
        {{ wtf.form_field(form.activity8, style="width:500px") }}

    </d1>
    <p>
        <a href="{{ url_for('about') }}" class="btn btn-default pull-left" role="button" style="margin: 25px;">Back</a>
        <input type=submit class='btn btn-info pull-right' value="Next" style="margin: 25px;">
    </p>
    </form>

{% endblock %}

