{% extends "base.html" %}

{% block styles %}
{{ super() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block app_content %}
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body>
    <div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 id="aboutHeader">Activities</h1>
                <h4 style="padding-bottom: 20px;">Enter up to 8 activities you were involved in</h4>
            <hr>
                <form action="{{ url_for('activities') }}" method="post">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {{ form.activityField.label }}
                        {{ form.activityField(class_="form-control") }}

                        {% for error in form.activityField.errors %}
                        <span class="label label-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <input type=submit class='btn btn-primary pull-right' value=" Next " style="margin-bottom: 25px;margin-top: 25px;background-color:#2B427C;">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.5.0.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $('select').select2({});
    </script>
    <script type="text/javascript">
        $('#activityField').select2({
            theme: 'bootstrap',
    });
    </script>
{% endblock %}