{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 id="aboutHeader">Activities</h1>
    <h2 style="padding-bottom: 20px;">Enter up to 8 NNHS activities you were involved in
    </h2>

    <form action="" method="post" class="form" role="form">
        {{ form.csrf_token() }}
    <d1>
        {{ wtf.form_field(form.activity1, style="width:500px") }}
        {{ wtf.form_field(form.activity2, style="width:500px") }}
        {{ wtf.form_field(form.activity3, style="width:500px") }}
        {{ wtf.form_field(form.activity4, style="width:500px") }}
        {{ wtf.form_field(form.activity5, style="width:500px") }}
        {{ wtf.form_field(form.activity6, style="width:500px") }}
        {{ wtf.form_field(form.activity7, style="width:500px") }}
        {{ wtf.form_field(form.activity8, style="width:500px") }}
        {{ wtf.form_field(form.check) }}

    </d1>
    <p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="33"
            aria-valuemin="0" aria-valuemax="100" style="width:33%">
              33%
            </div>
          </div>

        <input type=submit class='btn btn-primary pull-right' value=" Next " style="margin-bottom: 25px;margin-top: 25px;">
        <a href="{{ url_for('about') }}" class="btn btn-default pull-left" role="button" style="margin-bottom: 25px;margin-top: 25px;"> Back </a>
    </p>
    </form>
    
{% endblock %}

