<!DOCTYPE html>
<html lang="en-US">

    <head>

        {% if title %}
        <title>Registart | {{ title }}</title>
        {% else %}
        <title>Registart | Home</title>
        {% endif %}

        <meta charset="UTF-8">
        <meta viewport="width:device-width; scale=1.0">

        {% block stylesheets %}
        {% endblock %}

    </head>

    <body>

        <div>
            Registart:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>

        {% endif %}
        {% endwith %}
        
        {% block content %}
        {% endblock %}
        
        {% block scripts %}
        {% endblock %}
    </body>
</html>