<!DOCTYPE html>
<html lang="en-US">

    <head>

        {% if title %}
        <title>Registart | {{ title }}</title>
        {% else %}
        <title>Registart | Home</title>
        {% endif %}

        <meta charset="UTF-8">
        <meta viewport="width:device-width; scale=1.0">

        {% block stylesheets %}
        {% endblock %}

    </head>

    <body>

        <div>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
            <hr>
        {% block content %}
        {% endblock %}
        
        {% block scripts %}
        {% endblock %}
    </body>
</html>