{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 id="aboutHeader">Connections</h1>
                <h4 style="padding-bottom: 20px;">Select senior friends and acquaintances for each activity</h4>
            <hr>
                <form action="{{ url_for('connections') }}" method="post">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {{ form.closefriends.label }}
                        {{ form.closefriends(class_="form-control") }}

                        {% for error in form.closefriends.errors %}
                        <span class="label label-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.classfriends.label }}
                        {{ form.classfriends(class_="form-control") }}

                        {% for error in form.classfriends.errors %}
                        <span class="label label-danger">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <input type=submit class='btn btn-primary pull-right' value=" Complete this step " style="margin-bottom: 25px;margin-top: 25px;background-color:#2B427C;">
                    <a href="{{ url_for('activities') }}" class="btn btn-default pull-left" role="button" style="margin-bottom: 25px;margin-top: 25px;"> Back </a>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'scripts.js') }}"></script>   
</body>
</html>
{% endblock %}