{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1 id="aboutHeader">Connections</h1>
    <h2 font-weight:bold;">Type the full names of senior friends and acquaintances from each group.</h2>

    <form action="" method="post" class="form" role="form">
        {{ check.csrf_token() }}

    <div style="float:left;">
        <h3 id="activitiesheader">Close Friends</h3>
        {% for x in range(20) %}
        {{x+1}}.&nbsp;
        <select class="seniors" name="Seniors">
            <option value="none" selected disabled hidden> 
                &nbsp;&nbsp;&nbsp;&nbsp;
            </option> 
            <option value="Luke Zhang">Luke Zhang</option>
            <option value="Tom Carsello">Tom Carsello</option>
            <option value="James Huang">James Huang</option>
            <option value="Ethan He">Ethan He</option>
        </select>
        <br>
        {% endfor %}
    </div>

    <div>
        <h3 id="activitiesheader" style="padding-top:20px">Friends from lunch/class</h3>
        {% for x in range(20) %}
        {{x+1}}.&nbsp;
        <select class="seniors" name="Seniors">
            <option value="none" selected disabled hidden> 
                &nbsp;&nbsp;&nbsp;&nbsp;
            </option> 
            <option value="Luke Zhang">Luke Zhang</option>
            <option value="Tom Carsello">Tom Carsello</option>
            <option value="James Huang">James Huang</option>
            <option value="Ethan He">Ethan He</option>
        </select>
        <br>
        {% endfor %}
    </div>

    <p>
        <center>
        {{ wtf.form_field(check.check, style="padding:20px") }}
        </center>
    </p>
    <p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="29"
            aria-valuemin="0" aria-valuemax="100" style="width:29%">
              29%
            </div>
          </div>
        <input type=submit class='btn btn-primary pull-right' value=" Next " style="margin-bottom: 25px;margin-top: 25px;">
        <a href="{{ url_for('activities') }}" class="btn btn-default pull-left" role="button" style="margin-bottom: 25px;margin-top: 25px;"> Back </a>
    </p>

    </form>
    
{% endblock %}

