{% extends "base.html" %}

{% block app_content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        #cover {
            background-image: url('/static/coverphoto.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 1200px;
            background-attachment: fixed;
            background-position: center;
            filter: blur(5px);
        }   
    </style>
</head>

<body>
    <div id="cover"></div>
</body>
{% endblock %}