{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <h1 id="aboutHeader">Sign In</h1>
    <form action="" method="post" class="form" role="form">
        {{ form.csrf_token() }}
       <d1>
         {{ wtf.form_field(form.username, style="width:500px") }}
         {{ wtf.form_field(form.password, style="width:500px") }}
         {{ wtf.form_field(form.remember_me) }}
       </d1>
       <p><input type=submit class='btn btn-primary' value="Sign In"></p>
      </form>
    <a href="{{ url_for('register') }}"> Create Account </a>
{% endblock %}