{% extends "base.html" %}


{% block styles %}
{{ super() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .chevron {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
            border-radius: 50%;
            background-color: #f1f1f1;
            color: black;
            }
        .chevron:hover {
            background-color: #ddd;
            color: black;
            cursor: pointer;
            }
    </style>
{% endblock %}

{% block app_content %}
<html class="no-js" lang="">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <form action="{{ url_for('rankings') }}" method="post"></form>
                    
                    <h1 id="aboutHeader">Rank Your Relationships</h1>
                    <h4 style="padding-bottom: 20px;">How well do you know this person?</h4>
                    <hr>
                    <center>
                        <div>
                            <div class="chevron" id="previous" style="margin-bottom: 5px;">&#8249;</div>
                            <h3 id="studentName" style="margin-top: 35px;display: inline-block; width:375px;"></h3>
                            <div class="chevron" id="next" style="margin-bottom: 5px;">&#8250;</div>
                        </div>
                    </center>
                        <button id="verywell" class='btn btn-success' style="margin-top: 25px; margin-bottom: 25px; width: 100px;font-family:'Montserrat', sans-serif;" onclick="move()">Very Well</button>
                        <button id="well" class='btn btn-info' style="margin-top: 25px; margin-bottom: 25px; width: 100px;font-family:'Montserrat', sans-serif;" onclick="move()">Well</button>
                        <button id="somewhat" class='btn btn-warning' style="margin-top: 25px; margin-bottom: 25px; width: 100px;font-family:'Montserrat', sans-serif;" onclick="move()">Somewhat</button>
                        <button id="notmuch" class='btn btn-danger' style="margin-top: 25px; margin-bottom: 25px; width: 100px;font-family:'Montserrat', sans-serif;" onclick="move()">Not Much</button>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                        <script type="text/javascript">
                            var studentList = JSON.parse('{{students|tojson}}');
                            var num = 0;
                            document.getElementById("studentName").innerText = studentList[num]
                            $(function(){  
                                $("#verywell").click(function(){
                                    if (num < studentList.length){
                                        var req = new XMLHttpRequest();
                                        req.open("POST",'/studentrankings',true)
                                        req.setRequestHeader('Content-Type','application/json');
                                        req.send(document.getElementById("studentName").innerText + " " + "4");}
                                    if (num < studentList.length-1){   
                                        num++;            
                                    }
                                    document.getElementById("studentName").innerText = studentList[num]
                                });
                                $("#well").click(function(){  
                                    if (num < studentList.length){
                                        var req = new XMLHttpRequest();
                                        req.open("POST",'/studentrankings',true)
                                        req.setRequestHeader('Content-Type','application/json');
                                        req.send(document.getElementById("studentName").innerText + " " + "3");}   
                                    if (num < studentList.length-1) {                          
                                        num++;
                                    }
                                    document.getElementById("studentName").innerText = studentList[num]
                                });
                                $("#somewhat").click(function(){  
                                    if (num < studentList.length){
                                        var req = new XMLHttpRequest();
                                        req.open("POST",'/studentrankings',true)
                                        req.setRequestHeader('Content-Type','application/json');
                                        req.send(document.getElementById("studentName").innerText + " " + "2");}
                                    if (num < studentList.length-1) {                          
                                        num++;
                                    }
                                    document.getElementById("studentName").innerText = studentList[num]
                                });
                                $("#notmuch").click(function(){  
                                    if (num < studentList.length){
                                        var req = new XMLHttpRequest();
                                        req.open("POST",'/studentrankings',true)
                                        req.setRequestHeader('Content-Type','application/json');
                                        req.send(document.getElementById("studentName").innerText + " " + "1");}
                                    if (num < studentList.length-1) {       
                                        num++;                   
                                    }
                                    document.getElementById("studentName").innerText = studentList[num]
                                });
                                $("#next").click(function(){  
                                if (num < studentList.length-1) {    
                                    num++; }
                                document.getElementById("studentName").innerText = studentList[num]
                            });
                                $("#previous").click(function(){    
                                if (num > 0) {    
                                    num--;   }
                                document.getElementById("studentName").innerText = studentList[num]
                        });
                            });
                        </script>
                        <div class="col-md-8 col-md-offset-2">
                            <a href="{{ url_for('mobile') }}" class="btn btn-primary pull-right" role="button" style="margin-bottom: 25px;margin-top: 50px;background-color:#2B427C;font-family:'Montserrat', sans-serif;"> Next </a>  
                            <a href="{{ url_for('relationships') }}" class="btn btn-default pull-left" role="button" style="margin-bottom: 25px;margin-top: 50px;font-family:'Montserrat', sans-serif;"> Back </a>  
                        </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}