{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
        <h1 id="aboutHeader">User Registration</h1>
        <form action="" method="post" class="form" role="form">
            {{ form.csrf_token() }}
        <d1>
            {{ wtf.form_field(form.firstname, style="width:500px") }}
            {{ wtf.form_field(form.lastname, style="width:500px") }}
            {{ wtf.form_field(form.username, style="width:500px") }}
            {{ wtf.form_field(form.email, style="width:500px") }}
            {{ wtf.form_field(form.password, style="width:500px") }}
            {{ wtf.form_field(form.password2, style="width:500px") }}
        </d1>
        <div><input type=submit class='btn btn-success' value=" Create Account "> </div>
        </form>
    </div>
{% endblock %}