{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container" style="display: flex; justify-content:center;align-items:center;flex-direction: column;">
        <h1 id="aboutHeader">Registration</h1>
        <form action="" method="post" class="form" role="form">
            {{ form.csrf_token() }}
        <div>
            {{ wtf.form_field(form.firstname, style="width:400px;height:40px;") }}
            {{ wtf.form_field(form.lastname, style="width:400px;height:40px;") }}
            {{ wtf.form_field(form.username, style="width:400px;height:40px;") }}
            {{ wtf.form_field(form.email, style="width:400px;height:40px;") }}
            {{ wtf.form_field(form.password, style="width:400px;height:40px;") }}
            {{ wtf.form_field(form.password2, style="width:400px;height:40px;") }}
        </div>
        <input type='submit' class='btn btn-success btn-lg btn-block'style="background-color:#228B22" value="Create Account"></div>
        </form>
    </div>
{% endblock %}