{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
            
    <center><h1 id="aboutHeader">Sample Script</h1></center>
    <p id="numberlist">1. <p id="boldquestion">&nbsp;"Are you registered to vote?"&nbsp;</p>
    <p id="explanation">This is a great way to start a conversation with somebody
        you kind of know, since it is a question they will probably feel compelled to answer! If they
        answer that they are not registered, you are in business!</p>
    </p>
    <br>

    <p id="numberlist">2. <p id="boldquestion">&nbsp;"I'm with a nonprofit to get our entire senior class registered to vote before graduating, Here a few reasons you should get registered"&nbsp;</p>
    <p id="explanation">In this part of the conversation, you need to convince your target to let you help them. You would think this 
        is easy, but often, people are skeptical of others asking them to
        do something out of the blue. Show your target there are no strings
        attached and you are just trying to help.
    </p>
    <ol type="a">
        <li id="boldresponse">&nbsp;"It will making voting easier when the next election comes around"</li>
        <li id="boldresponse">&nbsp;"It's easy and free and there are no strings attached"</li>
        <li id="boldresponse">&nbsp;"I can show you how to do it (instead of you having to research it on your own)"</li>
    </ol>
    </p>
    <br>

    <p id="numberlist">3. <p id="boldquestion">&nbsp;"Can I show you how to do it?"&nbsp;</p>
    <p id="explanation">This is your pitch—when you directly ask your target to let you help them.
        This might make your target feel a bit uncomfortable, but that's good. Research shows
        that putting a little bit of pressure on your target makes them more likely
        to say yes. Just be sure to drive to a solid "yes" or "no" response to this question.
        Don't let your target escape by being wishy-washy.
    </p>
    <ol type="a">
        <li id="boldprompt">&nbsp;"Are you a citizen?"&nbsp;</li> <p id="explanation">- If they answer "yes", you're in business!</p>
        <li id="boldprompt">&nbsp;"When are you turning 18?"</li> <p id="explanation">- If they turn 18 before November 3, 2020, they're eligble.</p>
        <li id="boldprompt">&nbsp;"Do you know your driver's license number? You'll need it to fill out the online 
            registration form"</li><p id="explanation">- If they don't have it, that's okay. They'll just need the
                last four digits of their social security number, and when they finish the online form,
                they will need to print that form, sign it, and submit it.
        </p>
        <li id="boldprompt">&nbsp;Go to <a href="https://ova.elections.il.gov/Step0.aspx">https://ova.elections.il.gov/Step0.aspx</a>
            and enter your information. It should take less than two minutes. If you are confused by any questions,
            just let me know and I can help."</li> <p id="explanation">This is the question you've been waiting for. You've primed your target
            to get registered, and now they have the link to make it happen!
        </p>
    </ol>
    </p>
    <br>

    <p id="numberlist">4. <p id="boldquestion">&nbsp;"Have you submitted your application?"&nbsp;</p>
    <p id="explanation">You want to ensure that everyone you sent the link to
        actually completes the form. Make your target confirm whether they have or have not 
        submitted their application. Drive to a solid "yes" or "no" answer.
    </p>
    </p>
    <br>

    <p id="descheader">Tips</p>
    <ul>
        <li id="boldtip">Don't worry about being awkward&nbsp;</li><p>- these conversations can feel awkward at first, but
            the more you try, the better you will get at having these conversations naturally.</p>
        <li id="boldtip">Choose your medium&nbsp;</li><p>- there are a lot of ways to contact people. When contacting your target, use the 
            medium that feels most natural. If your conversations mostly occur on Snapchat, then use Snapchat. If you feel more
            comfortable calling somebody, try calling them.</p>
        <li id="boldtip">Say what works for you&nbsp;</li><p>- this script is just a guide. If you use it word-for-word, you will
            sound like a robot. Talking how you normally would when communicating with your target.</p>
        <li id="boldtip">Be persistent&nbsp;</li><p>- People are busy and probably care about getting registered a lot less than you do. Be
            sure to be persistent to make sure you get as many students registered as possible.</p>
    </ul>

    <form action="" method="post" novalidate>
        {{ form.csrf_token() }}
        <center>
            <p>{{ wtf.form_field(form.check, style="padding:20px") }}</p>
        </center>
    
    <p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                aria-valuemin="0" aria-valuemax="100" style="width:60%">
                60%
            </div>
            </div>
        <a href="{{ url_for('rules') }}" class="btn btn-default" role="button" style="margin-bottom: 25px;margin-top: 25px;"> Back </a>
        <input type=submit class='btn btn-primary pull-right' value=" Next " style="margin-bottom: 25px;margin-top: 25px;">
    </p>
    </form>
{% endblock %}